#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* This is the Navigation Bar */

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
/* ^^This removes the default Margin created by the browser which is 6px */

ul {
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(80, 123, 0);
}
/* ^These are properties for the navigation Bar */



li {
  float: left;
}

li * {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: rgb(149, 194, 43);
}
/* ^These are properties for the navigation Bar components */


/* This is the Navigation Bar */