.my-card-content {
  padding: 16px;
}

.my-card {
  height: 350px;
  width: 350px;
}
.container {
    position: relative;
 }
 .tag {
    float: "left";
    position: absolute;
    left: 40%;
    top: 10%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
 }

 @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  .writing {
    position: absolute;
    left: 42%;
    top: 10%;
    z-index: 1000;
 }

 .words {
    overflow: hidden;
    animation: 
    typing 3.5s steps(40, end);
    white-space: nowrap;
    margin: 0 auto;
 }

 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.home {
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transform-style: preserve-3d;
    text-align:center;
}

  @keyframes spinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  
