.my-card-content {
  padding: 16px;
}

.my-card {
  height: 350px;
  width: 350px;
}

.container {
    position: relative;
 }
 .tag {
    float: "left";
    position: absolute;
    left: 35%;
    top: 12%;
    z-index: 1000;
 }
