.SearchComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 100%;
}

#searchBar {
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: x-large;
}

#buttonid {
  font-size: x-large;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: white;
}

input[type='text']:focus {
  border: 2px solid black;
  transition: 0.5s;
}
