.articles-title {
  width: 100%;
  height: 200px;
  background-position: 50% 20%;
  background-image: url("../../static/images/articlesbanner.jpg");
  background-size: cover;
  color: rgb(241, 252, 236);
}

.articles-title h1 {
  margin-left: 40vw;
  font-size: 56px;
  margin-top: ;
  padding: 10px 0px;
}

.articles-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 100px;
  margin-left: 10vw;
}

.article-image {
  height: 100%px;
  width: 500px;
  margin-right: 10px;
}

.articles-items a {
  text-decoration: none;
  color: black;
}

.articleTitle {
  display: inline-block;
  margin: 0px;
}

.articleDate {
  font-size: 12px;
}

.articleSummary {
  width: 80%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}