.userMainDiv {
  /* margin-left: 10vw;
  font-size: 56px;
  margin-top: 0;
  padding: 40px 0px; */
  display: flex;
}

.user-card-full .userProgress {
  background-color: rgb(80, 123, 0);
  height: 30px;
}

.user-card-full .userProgressBar {
  height: 30px;
  background-color: #aedbb6;
}

.col-sm-8 {
  height: 100%;
}

.logout-button {
  font-size: 12px;
  float: right;
  color: blue;
  text-decoration: underline;
}

.logout-button:hover {
  cursor: pointer;
}



.body {
  background-color: rgb(7, 65, 35)
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  background-color: rgb(240, 246, 239);
  overflow: hidden;
  width: 800px;
  height: 100%;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-r-0 {
  margin-right: 0px;
  width: 50%;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  height: 100px;
  width: 415px;
      background: -webkit-gradient(linear, left top, right top, from(#6df263), to(rgb(14, 38, 15)));
  background: linear-gradient(to right, #aae89d, #6b9f68);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}


.h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  margin: 0px 0;
}

.card .card-block p {
  line-height: 25px;
  margin-bottom: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #5d6469 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-size: medium;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  align-content: center;
  justify-content: center;
}