.page-title {
  height: 500px;
  background-image: url("../../static/images/greenWaterPlant.jpg");
  background-size: 100% 400%;
  background-position: center;
  color: rgb(241, 252, 236);
}

h1 {
  margin-left: 10vw;
  font-size: 56px;
  margin-top: 0;
  padding: 40px 0px;
}

.faqs-summary {
  margin-left: 10vw;
  font-size: 22px;
}

.faq-questions {
  margin-left: 15%;
}

.faq-details {
  margin-left: 10vw;
  cursor: pointer;
  margin-top: 40px;
}

.faq-question {
  font-size: 28px;
  margin-left: -30px;
  margin-bottom: 20px;
}

.open-question {
  color: rgb(76, 147, 175);
  font-weight: bold;
}

/* .faq-question::marker {
  content: "-"
} */